!!! 5
%html
	%head
		%meta{:charset => "UTF-8"}
		%title RubyDay
		%link{:rel => "stylesheet", :href => "stylesheets/screen.css"}/
		%script{:type => "text/javascript", :src => "https://github.com/headjs/headjs/raw/v0.9/dist/head.min.js" }
		%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
		%script{:type => "text/javascript", :src => "js/rubyday.js"}
		%script{:type => "text/javascript", :src => "http://use.typekit.com/ius1jbd.js"}
		:javascript
			try{Typekit.load();}catch(e){}
	%body
		.container
			%header
			%section
				%article
					%h1 Informazioni generali
					%p Vogliamo diffondere la conoscenza sull'ecosistema di Ruby in Italia.
					Rubyday si terrà il 10 giugno 2011 all'Università Studi di Milano-Bicocca. Hai delle domande? Scrivici!
					%a.email{:href => "mailto:info@rubyday.it"}
						info
						%span.at<> @
						rubyday.it
				%article
					%h1 Partecipa
					%p La partecipazione all'evento è vincolata alla registrazione tramite Eventbrite
					%a.email{:href => "http://italianrubyday11.eventbrite.com/", :target => "_blank"}
						italianrubyday11.eventbrite.com/
				%article
					%h1 Call for paper
					%p Hai conosciuto una nuova gemma e vuoi spiegarci perché non possiamo farne a meno? Vuoi fare un talk? Proponiti!
					%a.email{:href => "mailto:cfp@rubyday.it"}
						cfp
						%span.at<> @
						rubyday.it
				%article
					%h1 Sponsor
					%p L'evento è gratuito, organizzato da professionisti per professionisti e parlerà dell'ecosistema Ruby a 360 gradi (non solo Rails ed applicazioni web). Sei interessato a sponsorizzare l'evento? Contattaci!
					%a.email{:href => "mailto:sponsor@rubyday.it"}
						sponsor
						%span.at<> @
						rubyday.it
				%article
					%h1 Rubysts for Japan
					%p Vi invitiamo a fare una donazione per il terremoto in Giappone, avvenuto lo scorso 12 marzo. In basso troverete alcuni links utili.
					%a.email{:href => 'http://www.rubyistsforjapan.com/'}
						Rubysts for Japan
					%a.email{:href => 'http://cri.it/flex/FixedPages/IT/Donazioni.php/L/IT'}
						Donazione alla Croce Rossa Italiana
			%aside
				%h2 #rubyday
				%ul
