!!! 5
%html
	%head
		%meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
		%title Ruby Day
		%link{:rel => "stylesheet", :href => "stylesheets/screen.css"}/
		%script{:type => "text/javascript", :src => "http://use.typekit.com/ius1jbd.js"}
		:javascript
			try{Typekit.load();}catch(e){}
	%body
		.card
			.front.face
				.logo
				%p.when Milano – 10 Giugno 2011
				%a.registration{:href => "http://italianrubyday11.eventbrite.com/"} Registrati!
				%a.more{:href => "#"} More infos!
			.back.face
				%p.event
					Stiamo lavorando per creare un evento
					%i indimenticabile.
				.subscribe
					%form{:action => "#", :method => "post"}
						%input{:type => "email", :placeholder => "Indirizzo email"}/
						%input{:type => "submit", :value => "submit"}/
					%p
						Lasciaci il tuo indirizzo email così da essere il primo a conoscere tutte le novità del Ruby Day!
					%p.no-spam
						(niente spam, promesso!)
				.separator
				.tweets
					%a.search{:href => "#"} #rubyday
					.tweet
						.text
							%img.avatar{:src => "#", :alt => "user"}/
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						.status
							@
							%a.from{:href => "#"}UserName
							–
							%a.created{:href => "#"} 10 minutes ago
					%a.more{:href => "#"} Less infos!
		%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"}
		%script{:type => "text/javascript", :src => "js/rubyday.js"}