/* line 4, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@import url(blueprint/semantic.css);
/* line 14, ../src/screen.sass */
body {
  background-color: #ebebeb;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
}

/* line 19, ../src/screen.sass */
.container {
  width: 790px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* line 25, ../src/screen.sass */
header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  height: 139px;
  margin-top: 40px;
  background: url("../images/logo.png") no-repeat;
  -webkit-animation: popin 0.3s ease-in;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header {
  overflow-x: hidden;
}

/* line 33, ../src/screen.sass */
section {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
  margin-top: 80px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html section {
  overflow-x: hidden;
}

/* line 37, ../src/screen.sass */
article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
  margin-bottom: 40px;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html article {
  overflow-x: hidden;
}
/* line 41, ../src/screen.sass */
article > h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #880d1e;
  text-shadow: 0 1px 0 #e3002f;
}
/* line 48, ../src/screen.sass */
article > p {
  color: #242424;
  line-height: 20px;
  font-weight: 400;
  text-align: justify;
}
/* line 54, ../src/screen.sass */
article > p > a {
  color: #880d1e;
  text-decoration: none;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
/* line 58, ../src/screen.sass */
article > p > a:hover {
  color: #e3002f;
}
/* line 61, ../src/screen.sass */
article .email {
  display: block;
  margin: 40px auto 10px auto;
  padding: 5px;
  background: #880d1e;
  border: 5px solid #730000;
  color: white;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  -moz-transition-property: text-shadow;
  -webkit-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 74, ../src/screen.sass */
article .email:hover {
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.6) 0 0 5px;
}

/* line 89, ../src/screen.sass */
aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  margin-left: 30px;
  margin-top: 80px;
  background: #ebebeb;
  border: 5px solid #880d1e;
  color: white;
  font-weight: 600;
  text-align: justify;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html aside {
  overflow-x: hidden;
}
/* line 99, ../src/screen.sass */
aside h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-shadow: #e3002f 0 1px 0;
  color: #880d1e;
}
/* line 107, ../src/screen.sass */
aside ul {
  margin-top: 10px;
}
/* line 110, ../src/screen.sass */
aside ul li {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  width: 210px;
  margin-left: 10px;
  margin-bottom: 10px;
  list-style: none;
}
/* line 138, ../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html aside ul li {
  overflow-x: hidden;
}
/* line 117, ../src/screen.sass */
aside ul li img {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
}
/* line 123, ../src/screen.sass */
aside ul li p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #242424;
}
/* line 129, ../src/screen.sass */
aside ul li span {
  font-size: 13px;
  font-weight: 400;
  color: #242424;
}

@-webkit-keyframes popin {
  /* line 135, ../src/screen.sass */
  0% {
    -webkit-transform: translate3d(0, -60px, 0);
  }

  /* line 137, ../src/screen.sass */
  67% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 139, ../src/screen.sass */
  86% {
    -webkit-transform: translate3d(0, -2px, 0);
  }

  /* line 141, ../src/screen.sass */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

/* line 144, ../src/screen.sass */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* line 149, ../src/screen.sass */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}

/* line 155, ../src/screen.sass */
::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent;
}

/* line 159, ../src/screen.sass */
::-webkit-scrollbar-track-piece {
  background-color: #cccccc;
  -webkit-border-radius: 3px;
}

/* line 164, ../src/screen.sass */
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #880d1e;
  -webkit-border-radius: 3px;
}

/* line 170, ../src/screen.sass */
::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #880d1e;
  -webkit-border-radius: 3px;
}

/* line 175, ../src/screen.sass */
html.webkit {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ebebeb;
}
/* line 182, ../src/screen.sass */
html.webkit > body {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
