/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 13, ../src/screen.sass */
html {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 10px solid #880d1e;
}

/* line 21, ../src/screen.sass */
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #730000 url("../images/noise.png");
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", serif;
  color: #222222;
}

/* line 29, ../src/screen.sass */
p {
  margin: 10px 0;
}
/* line 31, ../src/screen.sass */
p:first-child {
  margin: 0 0 10px 0;
}

/* line 34, ../src/screen.sass */
a {
  color: #880d1e;
  text-decoration: none;
}
/* line 37, ../src/screen.sass */
a:hover {
  text-decoration: underline;
}
/* line 39, ../src/screen.sass */
a:active {
  position: relative;
  top: 1px;
}

/* line 43, ../src/screen.sass */
.card {
  width: 590px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 340px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: visible;
  -webkit-transition: 0.5s;
  -webkit-transform-style: preverse 3d;
}
/* line 56, ../src/screen.sass */
.card.flip .front {
  -webkit-transform: rotateY(180deg);
}
/* line 59, ../src/screen.sass */
.card.flip .back {
  -webkit-transform: rotateY(0deg);
  z-index: 10;
}
/* line 63, ../src/screen.sass */
.card .face {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 0 0 10px 0;
  -webkit-box-shadow: black 0 0 10px 0;
  -o-box-shadow: black 0 0 10px 0;
  box-shadow: black 0 0 10px 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-in-out;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .face {
  overflow-x: hidden;
}
/* line 75, ../src/screen.sass */
.card .face:hover {
  -moz-box-shadow: black 0 0 30px 0;
  -webkit-box-shadow: black 0 0 30px 0;
  -o-box-shadow: black 0 0 30px 0;
  box-shadow: black 0 0 30px 0;
}
/* line 78, ../src/screen.sass */
.card .face a.more {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}
/* line 83, ../src/screen.sass */
.card .face a.more:active {
  top: auto;
  bottom: 9px;
}
/* line 87, ../src/screen.sass */
.card .front {
  background-color: white;
  -webkit-transform: rotateY(0deg);
  z-index: 5;
}
/* line 92, ../src/screen.sass */
.card .front .logo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  height: 104px;
  margin-top: 70px;
  background: url("../images/ruby.png") no-repeat;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .front .logo {
  overflow-x: hidden;
}
/* line 98, ../src/screen.sass */
.card .front p.when {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  padding-top: 10px;
  font-size: 32px;
  text-align: center;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .front p.when {
  overflow-x: hidden;
}
/* line 104, ../src/screen.sass */
.card .front a.registration {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .front a.registration {
  overflow-x: hidden;
}
/* line 110, ../src/screen.sass */
.card .back {
  background-color: white;
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}
/* line 115, ../src/screen.sass */
.card .back p.event {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back p.event {
  overflow-x: hidden;
}
/* line 120, ../src/screen.sass */
.card .back .subscribe {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  height: 200px;
  margin: 50px 0;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .subscribe {
  overflow-x: hidden;
}
/* line 125, ../src/screen.sass */
.card .back .subscribe > p {
  text-align: justify;
}
/* line 128, ../src/screen.sass */
.card .back .subscribe form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .subscribe form {
  overflow-x: hidden;
}
/* line 131, ../src/screen.sass */
.card .back .subscribe form input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #730000;
}
/* line 136, ../src/screen.sass */
.card .back .subscribe form input[type="email"] {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 178px;
  color: #222222;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .subscribe form input[type="email"] {
  overflow-x: hidden;
}
/* line 141, ../src/screen.sass */
.card .back .subscribe form input[type="email"]:focus {
  outline: none;
  -moz-box-shadow: #880d1e 0 0 5px 0;
  -webkit-box-shadow: #880d1e 0 0 5px 0;
  -o-box-shadow: #880d1e 0 0 5px 0;
  box-shadow: #880d1e 0 0 5px 0;
}
/* line 145, ../src/screen.sass */
.card .back .subscribe form input[type="submit"] {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
  position: relative;
  background: url("../images/button_bg.png") top repeat-x;
  background-color: #880d1e;
  color: white;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .subscribe form input[type="submit"] {
  overflow-x: hidden;
}
/* line 152, ../src/screen.sass */
.card .back .subscribe form input[type="submit"]:hover {
  background-color: #e3002f;
}
/* line 154, ../src/screen.sass */
.card .back .subscribe form input[type="submit"]:active {
  top: 1px;
  background-color: #730000;
}
/* line 158, ../src/screen.sass */
.card .back .subscribe form p.no-spam {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
  margin-top: -5px;
  font-size: 12px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .subscribe form p.no-spam {
  overflow-x: hidden;
}
/* line 163, ../src/screen.sass */
.card .back .separator {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 200px;
  margin: 30px 0 0 0;
  background: url("../images/black.png") center repeat-y;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .separator {
  overflow-x: hidden;
}
/* line 169, ../src/screen.sass */
.card .back .tweets {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
  height: 200px;
  margin: 50px 0;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .tweets {
  overflow-x: hidden;
}
/* line 174, ../src/screen.sass */
.card .back .tweets a.search {
  font-size: 20px;
  text-align: center;
  color: #222222;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 180, ../src/screen.sass */
.card .back .tweets a.search:hover {
  color: #880d1e;
}
/* line 183, ../src/screen.sass */
.card .back .tweets .tweet {
  margin-top: 10px;
  display: none;
}
/* line 187, ../src/screen.sass */
.card .back .tweets .tweet .text {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .tweets .tweet .text {
  overflow-x: hidden;
}
/* line 190, ../src/screen.sass */
.card .back .tweets .tweet .text > img.avatar {
  float: left;
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}
/* line 196, ../src/screen.sass */
.card .back .tweets .tweet .text > p {
  margin: 0;
  position: relative;
  top: -5px;
}
/* line 202, ../src/screen.sass */
.card .back .tweets .tweet .status {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  font-size: 12px;
  position: relative;
  top: -5px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p136@rubyday/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .card .back .tweets .tweet .status {
  overflow-x: hidden;
}
