<!DOCTYPE html>
<html>
<head>
  <title>Rubyday</title>
  <%= include_stylesheets :common, :media => 'screen' %>
  <%= include_javascripts :common %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
